In [1]:
import pandas as pd
import numpy as np

In [3]:
file_path='./rooms_data.csv'
cols=['xiaoqu_id','bedroom_num','has_lift','living_area','has_balcony','price','rent_type','face','city']
df=pd.read_csv(file_path,usecols=cols)
df.shape

(446025, 9)

In [4]:
df.head()

,xiaoqu_id,bedroom_num,has_lift,living_area,has_balcony,price,rent_type,face,city
0,9,4,有,16.0,无,3620.0,合租,南,北京市
1,9,4,有,15.0,无,3030.0,合租,南,北京市
2,9,4,有,13.0,有,2990.0,合租,南,北京市
3,9,4,有,23.0,有,3280.0,合租,南,北京市
4,9,3,有,16.0,无,3770.0,合租,西南,北京市

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 446025 entries, 0 to 446024
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   xiaoqu_id    446025 non-null  int64
 1   bedroom_num  446025 non-null  int64
 2   has_lift     446021 non-null  object
 3   living_area  445994 non-null  float64
 4   has_balcony  442087 non-null  object
 5   price        445761 non-null  float64
 6   rent_type    446024 non-null  object
 7   face         445970 non-null  object
 8   city         446025 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 30.6+ MB